<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="main">
        <h1>DEMO API PHÁT HIỆN TIN GIẢ</h1>
        <form action="" method="post">
            <input class="input" type="text" name="input" placeholder="Nhập bài viết">
            <input class="button" type="submit" name="button"> <br><br>
        </form>
        {{result}}
    </div>
</body>

</html>